@charset "utf-8";

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #fff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #fff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition:
    background-color 0.5s,
    color 0.5s;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vh auto;
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 5px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);
  display: block;
  margin: auto;
  margin-bottom: 15px;
  transition: transform 0.4s ease;
}

section#ficha img.foto:hover {
  transform: scale(1.05);
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;
  font-family: 1.5em;
  text-align: left;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  gap: 1em;
  margin-top: 15px;
}

div#social a {
  color: var(--destaque);
}

div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article#apresentacao h2 {
  color: var(--destaque);
  padding: 10px;
}

article#apresentacao p {
  border: 1px solid var(--texto);
  border-radius: 10px;
}

article#skills h2 {
  color: var(--destaque);
  padding: 10px;
  font-size: 2em;
  margin-bottom: 40px;
}

article#skills {
  padding: 60px;
  text-align: center;
}

article#skills div.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

article#skills div.card {
  background-color: var(--fundo-card);
  color: var(--texto);
  padding: 30px;
  border-radius: 12px;
  transition: 0.5s;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

article#skills div.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px var(--texto);
}

article#skills div.card-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

article#skills div.card h3 {
  margin-bottom: 10px;
}

article#projetos h2 {
  color: var(--destaque);
  padding: 10px;
}
